@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
}

p, span {
    color: #4a4747;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

li{
    font-family: "Montserrat", sans-serif;
}

button{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.headerCoverBox{
    background-image: url(./images/bg2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    margin: 0;
    position: relative;
    overflow: hidden;

}

.bar_line_first{
    width: 25px;
    height: 3px;
    background: #ffff;
    margin: 5px 0;
}

.bar_line_second{
    width: 25px;
    height: 3px;
    background: #ffff;
    margin: 5px 0;
}

.bar_line_third{
    width: 25px;
    height: 3px;
    background: #ffff;
    margin: 5px 0;
}

.bar_line_first.active::after{
    transform: rotate(135deg);
}

#my_input{
    display: none;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 20px;
    background: rgb(247, 241, 241);
}

.headerCoverBox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 50px;
    position: sticky;
    z-index: 2;
}

.logo .logo_name{
  font-size: 2rem;
  color: #ffc200;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.navList li a{
    text-decoration: none;
    color: #ffff;
}

.titleCover{
    display: flex;
    justify-content: flex-end;
}

.title{
    max-width: 480px;
    margin-top: 70px;
    position: absolute;
    z-index: 2;
}

.title h1{
    color: #ffc200;
    font-size: 100px;
}

.title p{
    font-family: "Montserrat", sans-serif;
    color: #f2faec;
}

 button{
    background: #ffc200;
    padding: 5px 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 30px;
    border: 2px solid #ffc200;
    transition: 200ms;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.sellerBox{
    margin: 100px auto;
}

.sellerBox h2{
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
    color: #343232;
}

.sellerBox p{
    text-align: center;
    margin: 10px 0;

}

.sell_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.imgBox{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.item h3{
    text-align: center;
    margin-top: 8px;
    font-size: 1.5rem;
    color: #343232;
}

.item span{
    margin-top: 4px;
    font-weight: 400;
}

.item{
    text-align: center;
}

.imgBox img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.orientCover{
    background: rgb(41, 32, 32);
}

.orientalBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    padding: 50px 0;
}

.orientalIng{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    overflow: hidden; 
}

.orientalIng img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 1s;
}

.orientalIng img:hover{
    transform: scale(1.2);
}

.orientContent{
   display: inline-block;
   gap: 20px;

}

.orientContent h2{
    font-size: 70px;
    color: #ffc200;
}

.orientContent span{
    color: #e7e8e4;
    font-weight: 400;
    margin: 30px 0;

}

.menuBox{
    text-align: center;
    color: #ffff;
    padding: 50PX 0;
}

.menuBox h2{
    font-size: 70px;
    margin-bottom: 20px;
    color: #ffc200;
}

.menuBox p{
    font-weight: 400;
    color: #ffff;
    margin-bottom: 50px;
}

.circleBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.circle{
    width: 150px;
    height: 150px;
    border: 2px solid #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s;
}

.circle:hover{
  rotate: 360deg;
  background: #6c6c6a;
}

.inner{
    margin-top: 50px;
}

.circle span{
    font-size: 40px;
    font-weight: 900;
    color: #ffc200;
}

.circle p{
    font-size: 25px;
}

.coverBox{
    background-image: url(./images/bg3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 90px;
}


.coverBox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 0, 0.7);; 
  }

.fields{
    max-width: 500px;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    text-align: center;
}

.fields h3{
    text-align: center;
    font-size: 50px;
    color: #423f3f;
}

.fields p{
    color: #1b1b1b;
    font-size: 20px;
}

.Box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBox{
    text-align: center;
    padding-top: 100px;
}

.itemBox h2{
    font-size: 50px;
    margin: 20px 0;
    color: #4a4646;
}

.itemBox p{
    font-weight: 300;
    margin: 0 auto;
}

.wrapper_input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.itemBox input{
    width: 300px;
    height: 32px;
    border: none;
    outline: none;
    padding-left: 20px;
    background: #e7e8e4;
}

.itemBox button{
    background: #ffc200;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid #ffc200;
    margin-top: 0;
}

.subscribeBox{
    min-height: 500px;
    background-image: url(./images/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    background: rgb(48, 46, 46);
    padding: 100px 0;
    overflow: hidden;
}

.footerBox{
    display: flex;
    color: #ffff;
    margin: 0 auto;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.left{
    max-width: 500px;
}

.left ul{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.left p{
    font-size: 13px;
    font-weight: 400;
    color: #f3ebeb;
}

ul, li{
    list-style-type: none;
    text-decoration: none;
}

.f_heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.link{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-top: 20px;
    background: #ffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.link:hover{
    background: #ffc200;
}

.right ul li{
    font-size: 13px;
    font-weight: 400;
    color: #f3ebeb;
    padding-bottom: 5px;
}

button:hover{
    background: #ffffff;
    color: #ffc200;
    border: 2px solid #ffc200;
}

.mobileNav{
    display: none;
}
.listsMnav{
    display: none;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
}


@media only screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    .navList{
        display: none;
    }
    .mobileNav{
        display: block;
    }

    .headerCoverBox{
        position: relative;
    }

    .listsMnav {
        display: none;
        list-style-type: none;
        position: absolute;
        z-index: 999;
        background: #3a45524d;
        width: 100vw;
        height: 145px;
        text-align: left;
        border: 1px solid black;
        left: -50px;
        top: 50px;
        overflow: hidden;
    }

    .listsMnav.active{
        display: flex;
    }


    .listsMnav li a{
        text-decoration: none;
        color: #ffff;
       
    }

    .listsMnav li{
        font-size: 15px;
        margin: 10px 20px;
    }


    .title{
        margin-top: 140px;
    }
}

@media only screen and (max-width: 500px) {

    .title{
        max-width: 300px;
    } 

    .navbar{
        margin: 0 20px 
    }

    .listsMnav{
        left: -20px
    }
    
    .titleCover{
        justify-content: center;
    }

    .orientalBox {
        gap: 15px;
    }

    .orientContent h2{
        font-size: 50px;
        color: #ffc200;
    }

    .itemBox input{
        margin-top: 20px;
    }

    .title h1, .sellerBox h2{
        font-size: 2rem;
    }

    .footerBox{
        gap: 80px;
    }

    .sell_items{
        gap: 40px;
    }

    .menuBox h2{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .logo .logo_name {
        font-size: 1.5rem;
    }

}
